{% extends "base.html" %}

{% block title %}
Tasks
{% endblock %}

{% block content %}

<h2>Your Tasks</h2>

<form action="{{ url_for('main.add_task') }}" method="POST">
    <input 
        type="text" 
        name="title" 
        placeholder="Enter a task"
        required
    >

    <button type="submit">
        Add Task
    </button>
</form>


<ul>
    {% for task in tasks %}
        <li>
            {{ task.title }}
        </li>
    {% else %}
        <li>No tasks yet.</li>
    {% endfor %}
</ul>

{% endblock %}